 @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

 body{
            display: flex;
            justify-content: center;   
            margin: 0 auto;
            background-color: lightgray;
        }

        h1{
            font-size: 180px;
            font-style: italic;
            isolation: isolate;
            font-family: "Anton", serif;
            font-weight: 400;
            letter-spacing: -37px;
        }

        h1 span:nth-child(1) {
            color: #fca713
        }

        h1 span:nth-child(2) {
            color: #e0d502;
        }

        h1 span:nth-child(3) {
            color: #a76eee;
        }

        h1 span:nth-child(4) {
            color: #52e479;
        }
        h1 span{
            mix-blend-mode: darken;
            mix-blend-mode: color-burn;
            mix-blend-mode: multiply;
        }
