/* 
	Weight axis: 100 – 700
	Width axis: 85 – 100
*/
@font-face {
	font-family: "IBM Plex Sans Roman";
	src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/85648/IBMPlexSansVar-Roman.ttf");
}

* {
	box-sizing: border-box;
}

body {
	font-family: "IBM Plex Sans Roman", Times;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	min-height: 100vh;
	background-color: tomato;
}

h1{
	padding: 0;
	position:absolute;
	margin: 0;
	top: 20%;
	left: 0;
	transform: rotate(-90deg);
}

h1 {
	color: white;
  	font-weight: 100;
	font-size: 15vw;
	font-variation-settings: 'wght' 100, 'wdth' 85;	
	transition: all 0.3s ease;
}
h1:hover {
	color: tomato;
	font-weight: 400;
	font-size: 15vw;
	font-variation-settings: 'wght' 400, 'wdth' 85;
	transition: all 0.3s ease;
	text-shadow: 3px 3px 10px yellow;
	text-decoration: wavy;
}


.pageclip-form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}